.cart {
  position: relative;

  /* Стили для кнопки */
  &__btn {
    position: relative; /* Позиционирование кнопки относительно своего родителя */
    border: none; /* Удаление границы у кнопки */
    background-color: transparent; /* Прозрачный фон кнопки */
    display: flex; /* Отображение кнопки как flex-контейнера */
    flex-direction: column; /* Ориентация дочерних элементов по вертикали */
    align-items: center; /* Выравнивание дочерних элементов по центру по горизонтали */
    margin: 0; /* Удаление внешних отступов */
    padding: 0; /* Удаление внутренних отступов */
    cursor: pointer; /* Установка курсора в виде указателя при наведении на кнопку */

    /* Стили для счетчика */
    &__count {
      display: flex; /* Отображение счетчика как flex-контейнера */
      align-items: center; /* Выравнивание счетчика по центру по горизонтали */
      justify-content: center; /* Выравнивание счетчика по центру по вертикали */
      width: 25px; /* Ширина счетчика */
      height: 25px; /* Высота счетчика */
      position: absolute; /* Абсолютное позиционирование счетчика */
      color: #f2f2f2; /* Цвет текста счетчика */
      border-radius: 50%; /* Закругление углов счетчика для создания круглой формы */
      background-color: #E0595D; /* Цвет фона счетчика */
      right: -2px; /* Положение счетчика справа от кнопки */
      top: -12px; /* Положение счетчика сверху от кнопки */
    }
  }


  /* Стили для кнопки в темном режиме */
  &__btn.dark_mode &__svg svg {
    stroke: #f2f2f2;
  }

  /* Стили для текста в темном режиме */
  &__btn.dark_mode &__text {
    color: #f2f2f2;
  }

  /* Стили для кнопки в темном режиме при наведении */
  &__btn.dark_mode:hover &__svg svg {
    stroke: #FFC540;
    transition: stroke .2s ease-in-out;
  }

  /* Стили для текста в темном режиме при наведении */
  &__btn.dark_mode:hover &__text {
    color: #FFC540;
    transition: color .2s ease-in-out;
  }

  /* Стили для иконки корзины */
  &__svg {
    & svg {
      stroke: #1C629E;
      transition: stroke .2s ease-in-out;
    }
  }

  /* Стили для текста */
  &__text {
    color: #1C629E;
    transition: color .2s ease-in-out;
  }

  /* Стили для всплывающего окна корзины */
  /* Стили для всплывающего окна корзины */
  &__popup {
    display: grid; /* Отображение содержимого всплывающего окна как сетки */
    grid-template-rows: auto min(250px) auto; /* Задание размеров строк в сетке: первая и последняя - автоматические высоты, вторая - минимальная высота 250px */
    position: absolute; /* Абсолютное позиционирование всплывающего окна */
    top: 45px; /* Расположение всплывающего окна сверху относительно родительского элемента на 45px */
    left: -300px; /* Расположение всплывающего окна слева относительно родительского элемента на 300px (скрыто за пределами экрана) */
    width: 304px; /* Ширина всплывающего окна */
    padding: 15px; /* Внутренний отступ всплывающего окна */
    background-color: #f2f2f2; /* Цвет фона всплывающего окна */
    border-radius: 4px; /* Радиус скругления углов всплывающего окна */
    transform-origin: right top; /* Определение точки трансформации при анимации */
    z-index: 10; /* Установка позиции окна над другими элементами */



  /* Стили для всплывающего окна корзины в темном режиме */
    &.dark_mode {
      background-color: #2d2d2d;
    }

    /* Медиа запрос для адаптивного дизайна */
    @media (max-width: 450px) {
      left: -245px;
    }


    /* Стили для заголовка во всплывающем окне корзины */
    &__title {
      margin: 0; /* Удаление внешних отступов у заголовка */
      color: #1C629E; /* Цвет текста заголовка */
      font-size: 24px; /* Размер шрифта заголовка */
      font-weight: 400; /* Нормальное начертание шрифта заголовка */
      padding-left: 60px; /* Внутренний отступ слева у заголовка */
      line-height: 44px; /* Высота строки заголовка */
      background-image: url('/img/cart.svg'); /* Фоновое изображение для заголовка */
      background-repeat: no-repeat; /* Запрет повторения фонового изображения */
      background-position: left center; /* Расположение фонового изображения слева по центру заголовка */
      margin-bottom: 12px; /* Внешний отступ снизу у заголовка */
    }

    /* Стили для списка товаров в корзине */
    &__list {
      margin: 0; /* Удаление внешних отступов у списка товаров */
      padding: 0; /* Удаление внутренних отступов у списка товаров */
      padding-right: 10px; /* Внутренний отступ справа у списка товаров */
      height: 100%; /* Высота списка товаров (занимает все доступное пространство во всплывающем окне) */
      overflow-y: auto; /* Включение вертикальной прокрутки при необходимости */
      padding-top: 10px; /* Внутренний отступ сверху у списка товаров */
      list-style-type: none; /* Удаление маркера списка у товаров */
      border-top: 1px solid #E1E1E1; /* Верхняя граница списка товаров */


    /* Стили для полосы прокрутки */
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background-color: #E1E1E1;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #9E9E9E;
        background: #9E9E9E;
        border-radius: 5px;
      }

      /* Стили для элемента списка */
      &__item {
        padding-bottom: 16px;

        /* Стили для каждого элемента списка товаров, кроме последнего */
        &:not(:last-child) {
          margin-bottom: 16px; /* Внешний отступ снизу у каждого элемента списка */
          padding-bottom: 16px; /* Внутренний отступ снизу у каждого элемента списка */
          border-bottom: 1px solid #e1e1e1; /* Горизонтальная граница снизу у каждого элемента списка */
        }


        /* Стили для верхней части элемента списка */
        &__top {
          position: relative;
          display: flex;
          align-items: center;
          margin-bottom: 16px;

          /* Стили для кнопки удаления товара */
          button {
            position: absolute; /* Абсолютное позиционирование кнопки */
            right: 0; /* Расположение кнопки справа от родительского элемента */
            top: 0; /* Расположение кнопки сверху от родительского элемента */
            cursor: pointer; /* Установка курсора в виде указателя при наведении на кнопку */
            background-color: transparent; /* Прозрачный фон кнопки */
            border: none; /* Удаление границы у кнопки */
            margin: 0; /* Удаление внешних отступов у кнопки */
            padding: 0; /* Удаление внутренних отступов у кнопки */


            & svg {
              fill: #E0595D;
            }

            span {
              position: relative;
            }
          }
        }

        /* Стили для нижней части элемента списка */
        &__bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        /* Стили для изображения товара */
        &__img {
          width: 79px;
          height: 79px;
          border-radius: 4px;
          overflow: hidden;
          margin-right: 24px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        /* Стили для текста товара */
        &__text {
          font-size: 16px;
          line-height: 27px;
          max-width: 142px;
          color: #4E4C4C;

          &.dark_mode {
            color: #f2f2f2;
          }
        }

        /* Стили для текста "Корзина пуста" */
        &__empty {
          font-size: 14px;
          color: #E0595D;
          opacity: 0.5;
        }

        /* Стили для счетчика товара */
        &__counter {
          position: relative;
          padding: 4px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 88px;
          height: 29px;
          border: 1px solid #66B1F1;
          border-radius: 4px;

          button {
            width: 20px;
            height: 20px;
            border: none;
            background-color: transparent;
            margin: 0;
            padding: 0;
            cursor: pointer;

            svg {
              stroke: black;
            }

            &:disabled {
              pointer-events: none;
              opacity: 0.5;
            }
          }

          span {
            font-size: 14px;
            color: #4E4C4C;
          }

          &.dark_mode button svg {
            stroke: white;
          }

          &.dark_mode span {
            color: #f2f2f2;
          }
        }

        /* Стили для цены товара */
        &__price {
          &.dark_mode {
            color: #f2f2f2;
          }
        }
      }
    }

    /* Стили для пустого списка */
    &__empty {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__text {
        display: block;
        color: #2d2d2d;
        opacity: 0.5;

        &.dark_mode {
          color: #f2f2f2;
        }
      }
    }

    /* Стили для футера корзины */
    &__footer {
      border-top: 1px solid #E1E1E1;
      padding-top: 12px;
      display: flex;
      flex-direction: column;

      /* Стили для общей суммы заказа */
      &__total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
      }

      /* Стили для текста в футере */
      &__text {
        font-size: 18px;
        color: #2D2D2D;

        &.dark_mode {
          color: #f2f2f2;
        }
      }

      /* Стили для цены в футере */
      &__price {
        font-size: 24px;
        color: #205684;
        white-space: nowrap
      }

      /* Стили для кнопки в футере */
      &__btn {
        cursor: pointer;
        border: 1px solid transparent;
        background-color: #1C629E;
        border-radius: 4px;
        padding: 10px 32px;
        font-size: 20px;
        color: #FAFBFC;
        transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;

        &:disabled {
          color: #7B7B7B;
          background-color: #F0F0F0;
          pointer-events: none;
        }

        &:hover {
          background-color: #f2f2f2;
          color: #2d2d2d;
          border-color:#2d2d2d;
          transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
        }
      }
    }
  }
}
